html {
    background: url(/instaSite/docs/assets/img/back.jpg) no-repeat center fixed;
    background-size: cover;
}
div.main{
    position:relative;
}
div.inside1{
    position: absolute;
    width:33%;
}
p.inside12{
    font-family: "Lucida Handwriting", "Cursive";
}